.place__paragraph {
    margin: 32px 16px 25px 16px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #FFFFFF;
    padding: 0;
}

@media (min-width: 768px) {
    .place__paragraph {
        margin: 0;
        line-height: 26.08px
    }
}

@media (min-width: 1024px) {
    .place__paragraph {

        font-size: 18px;
        font-weight: 400;
        line-height: 29.34px;

    }
}