.page__lead {
    max-width: 100vw;

}


@media (min-width: 1024px) {
    .page__lead {
        margin: 0 48px;

    }
}

@media (min-width: 1280px) {
    .page__lead {
        margin: 0 148px;

    }
}
