.page__photo-grid {
    margin: 64px 16px;
    max-width: calc(100vw - 32px);

}

@media (min-width: 768px) {
    .page__photo-grid {
        margin: 88px 24px;

    }
}

@media (min-width: 1024px) {
    .page__photo-grid {
        margin: 92px 48px;
       
    }
}
